.tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .tooltip-button {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .tooltip-box {
    position: absolute;
    top: 40px;
    right: -85px;
    padding: 12px;
    background-color: #1f2937;
    color: white;
    border-radius: 10px;
    white-space: nowrap;
    z-index: 1000;
    width: 200px;
    height: 280px;
    white-space: normal;
    word-wrap: break-word;
  }
  
.tooltip-box-2 {
    right: 5px;
    height: 300px;
}

p a {
    color: white;
    text-decoration: none;
    font-weight: 900;
    transition: color 0.3s ease;
}

p a:hover,
p a:focus {
    color: var(--light-gray);
}