.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    flex: 1;
}

.button-disabled {
    background-color: #2d3748;
    /* bg-gray-800 */
}

.button-enabled {
    background-color: #6b7280;
    /* bg-gray-500 */
}

/* ModelButtons.css */
.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0;
    height: 3rem;
    position: relative;
}

.tooltip-container {
    display: flex;
    align-items: center; 
    justify-content: center;
    position: relative;
    height: 100%;
  }
  
  .tooltip-button {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .tooltip-box {
    position: absolute;
    top: 40px;
    right: -85px;
    padding: 12px;
    background-color: #1f2937;
    color: white;
    border-radius: 10px;
    white-space: nowrap;
    z-index: 1000;
    width: 200px;
    height: 370px;
    white-space: normal;
    word-wrap: break-word;
  }
  
.tooltip-box-2 {
    right: 5px;
    height: 370px;
}

p a {
    color: white;
    text-decoration: none;
    font-weight: 900;
    transition: color 0.3s ease;
}

p a:hover,
p a:focus {
    color: var(--light-gray);
}