#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    z-index: 100;
    box-shadow: 0px 10px 20px black;
    backdrop-filter: blur(10px);
}

#sidebar {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 20px 20px -10px black;
    margin-top: 5px;
    height: calc(100vh - 70px);
    overflow-y: scroll;
    padding: 10px;
}

img {
    border-radius: 50px;
}

#info-div {
    background-color: rgba(55, 65, 81, 0.7);
    color: white;
    z-index: 100;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    max-width: 300px;
}

p a {
    color: #0769da;
    text-decoration: none;
    transition: color 0.3s ease;
}

p a:hover,
p a:focus {
    color: #d1eaff;
    text-decoration: underline;
}

/* .basic-multi-select{
  background-color: red;
}

.select__control{
  background-color: red;
}

.select__multi-value{
  background-color: blue;
} */
