.slider {
    -webkit-appearance: none;
    width: 100%;
    background: transparent; 
    margin-right: 5px;

}

.slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: #ddd; 
    border-radius: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #3c404a; 
    cursor: pointer;
    border-radius: 50%; 
    border: none;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #3c404a; 
    cursor: pointer;
    border-radius: 50%; 
    border: none;
}

.slider::-moz-range-track {
    width: 100%;
   
    background: #ddd; 
    border-radius: 5px;  
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    box-sizing: border-box;
}